* {
    margin: 0;
    padding: 0;
}

/* Header Section */
header {
    display: flex;
    flex-wrap: flex;
    background-color: peru;
    padding: 20px 35px;
     
}

header #timer{
    display: inline-flex;
    align-items: center;
    font-size: 32px; 
}

header #time {
    background-color: peru;
    display: inline-flex;
    align-items: center;
    font-size: 32px;
    padding: 0px 0px 0px 500px
    
}

header .high-score {
    padding: 0px 0px 0px 500px
}

/* End of Header Section*/

/* Footer Section*/
footer {
    display: flex;
    flex-wrap: flex;
    background-color: peru;
    padding: 20px 35px;
}
/* End of Footer Section */

/* Main Body Section */
#questions {
    background: lightcoral;
    margin: 30px 5px 30px 450px;
    height: 700px;
    width: 50%;
    border: 5px solid;
}

section ul li {
    list-style: none;
    border: 5px solid;
    padding: 47px;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}
 
#question {
    justify-content: center;
}

#btn1 {
    text-align: right;
    visibility: hidden;
}
#btn2 {
    text-align: right;
    visibility: hidden;
}
#btn3 {
    text-align: right;
    visibility: hidden;
}
#btn4 {
    text-align: right;
    visibility: hidden;
}



/*button Section*/
.start {
    background-color: peru;
    border: none;
    color: black;
    font-size: 20px;
    width: 12%;
    height: 8%;
    border-radius: 500px;
    border: 5px solid;
}

.start:hover {
    box-shadow: 0 5px gray;
    top: -5px;
}

.start:active {
    box-shadow: 0 8px darkgray;
    top: 8;
}

#button {
    text-align: center;
    padding: 0px 0px 30px
}

#user-name {
    visibility: hidden;
}

#btn1style {
    background-color: peru;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid;
}
#btn2style {
    background-color: peru;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid;
}
#btn3style {
    background-color: peru;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid;
}
#btn4style {
    background-color: peru;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid;
}

#btn1style:hover {
    box-shadow: 0 3px gray;
    top: -3px;
}

#btn2style:hover {
    box-shadow: 0 3px gray;
    top: -3px;
}

#btn3style:hover {
    box-shadow: 0 3px gray;
    top: -3px;
}

#btn4style:hover {
    box-shadow: 0 3px gray;
    top: -3px;
}

#user-name {
  outline: none;
  border: none;
  width: 40%;
  font-size: 30px;
  border: 2px solid gray;
  border-radius: 12px;
  text-align: center;
}

#submit {
    visibility: hidden;
    background-color: peru;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid;
    text-align: center;
}